%{ This is a default template }%%TMPL:INCLUDE{"login"}%

%TMPL:DEF{"title"}%<img src="%PUBURL%/%SYSTEMWEB%/DrupalUsersContrib/Drupal.png" style="float:right; border:20px;"/>
---++ %MAKETEXT{"Please enter your Drupal username and password"}%
%TMPL:END%

